@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-poppins: 'Poppins', sans-serif;
  --font-plus-jakarta: 'Plus Jakarta Sans', sans-serif;
  --font-pacifico: 'Pacifico', cursive;
}

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-white text-secondary;
  }
}

@layer utilities {
  .font-display {
    font-family: var(--font-poppins);
  }

  .font-body {
    font-family: var(--font-plus-jakarta);
  }

  .font-accent {
    font-family: var(--font-pacifico);
  }

  .container {
    @apply max-w-7xl mx-auto;
  }
}
